version: "3.8"
services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-d", "postgres"]
      interval: 10s
      timeout: 20s
      retries: 5

  lando:
    build:
      context: .
    stdin_open: true
    tty: true
    image: lando 
    command: bash -c "
      lando generate_version_file &&
      lando migrate &&
      lando collectstatic --clear --no-input &&
      uwsgi --ini /code/uwsgi.ini"
    volumes:
      - ./:/code
      - ./staticfiles:/staticfiles
      - media:files/
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  proxy:
    build: ./nginx
    ports:
      - 443:443
    depends_on:
      - lando
    volumes:
      - ./staticfiles:/staticfiles

  redis:
    image: redis:7.2
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]

  celery:
    image: suite_lando
    command: lando start_celery_worker
    depends_on:
      redis:
        condition: service_healthy

volumes:
  media:
