black
celery
datadog
django-libsass
django_compressor
jinja2
kombu
networkx
pytest
pytest-django
python-hglib==2.6.2
python-jose
redis
requests-mock
rs-parsepatch
ruff
setuptools-scm
uwsgi
django-storages[google]
