line-length = 88
select = ["C", "E", "F", "W", "B", "B9", "I"]
ignore = ["B006", "B904", "C901", "E203", "E501"]
exclude = [
    ".git",
    "__pycache__",
    ".hg",
    ".git",
    "__pycache__",
]

[isort]
split-on-trailing-comma = true
