line-length = 88
lint.select = ["C", "E", "F", "W", "B", "B9", "I", "ANN"]
lint.ignore = [
    "B006",
    "B904",
    "C901",
    "E203",
    "E501",
    "ANN002",  # Missing type annotation for *args
    "ANN003",  # Missing type annotation for **kwargs
    "ANN202",  # Missing return type annotation for protected function

]
exclude = [
    ".cache",
    ".git",
    ".hg",
    "__pycache__",
]

[lint.isort]
split-on-trailing-comma = true

[lint.flake8-annotations]
suppress-none-returning = true

[lint.per-file-ignores]
"**/*/tests/*" = ["ANN"]
"**/*/conftest.py" = ["ANN"]
