{% extends "partials/layout.html" %}
{% block page_title %}{{ stack }}{% endblock %}
{% block main %}
    <main class="StackPage container fullhd">
        <div class="StackPage-errors">
            <span>Landing Failed</span>
            <ul>
            </ul>
        </div>
        <h1>Landings for Stack {{ stack.number }}</h1>
        {% include "stack/partials/timeline.html" %}
        <h1>Stack {{ stack.number }}</h1>
        <div class="StackPage-stack">
            <table class="table">
                <thead>
                    <tr>
                        <th>Land</th>
                        <th>Pull Request</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pr in stack.pull_requests %}
                        <tr class="StackPage-pr">
                            <td class="StackPage-pr-land">
                                <input class="StackPage-revision-land-radio"
                                       id="{{ pr.number }}"
                                       type="radio">
                            </td>
                            <td class="StackPage-pr-title">
                                <div class="StackPage-revision-title-text">
                                    <a href="{{ pr.html_url }}">{{ pr.number }}</a>: {{ pr.title }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="StackPage-landing-info">
            {% if user_is_authenticated %}
                <h2>Landing is blocked:</h2>
                <ul class="StackPage-blockers">
                {% endif %}
            </div>
            <div class="StackPage-actions">
                {% if not user_is_authenticated %}
                    <button disabled>
                        <div class="StackPage-actions-headline">Preview Landing</div>
                        <div class="StackPage-actions-subtitle">You must log in first</div>
                    </button>
                {% elif not user_has_phabricator_token and (not series or dryrun is none) %}
                    <button disabled>
                        <div class="StackPage-actions-headline">Landing Blocked</div>
                        <div class="StackPage-actions-subtitle">This revision is blocked from landing</div>
                    </button>
                {% else %}
                    <button class="StackPage-preview-button">
                        <div class="StackPage-actions-headline">Preview Landing</div>
                    </button>
                {% endif %}
            </div>
            {% if user_is_authenticated %}
                <div class="StackPage-landingPreview modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Preview landing</p>
                            <button class="StackPage-landingPreview-close delete" aria-label="close"></button>
                        </header>
                        <section class="modal-card-body">
                            <label class="checkbox">
                                <input type="checkbox" id="acknowledge-warnings" autocomplete="off" />
                                Acknowledge all warnings below to continue.
                            </label>
                            <h3 class="StackPage-landingPreview-sectionLabel">Warnings:</h3>
                            <div id="warnings" class="StackPage-landingPreview-section StackPage-landingPreview-warnings">

                            </div>
                            <h3 class="StackPage-landingPreview-sectionLabel">Blockers:</h3>
                            <div id="blockers"class="StackPage-landingPreview-section StackPage-landingPreview-blockers">

                            </div>
                        </section>
                    {% endif %}
                    <footer class="modal-card-foot">
                        <form class="StackPage-form" action="" method="post">
                            <button class="gh-StackPage-landingPreview-land button"
                                    data-repo-name="{{ target_repo.name }}"
                                    data-csrf-token="{{ csrf_token }}"
                                    data-stack-number="{{ stack.number }}"
                                    disabled>
                                Land to {{ target_repo.url }}
                                {% if target_repo.is_git %}@{{ target_repo.default_branch }}{% endif %}
                            </button>
                            <button class="gh-StackPage-landingPreview-close button">Cancel</button>
                        </form>
                    </footer>
                </div>
            </div>
        </main>
    {% endblock %}
