{# Only render the recent changes header if there are any changes available. #}
{% if recent_changes_stack and user_is_authenticated %}
    <h1>
        Recent changes
    </h1>
    <div class="container">
        {% for status_change_form, status_change_data in recent_changes_stack %}
            <div class="box">
                <form class="recent-changes-form"
                      action="{{ url('treestatus-update-change', args=[status_change_data.id]) }}"
                      method="post">
                    {{ csrf_input }}
                    <div class="columns">
                        <div class="column">
                            <p>
                                At {{ status_change_data.when }}, <b>{{ status_change_data.who }}</b> changed trees:
                            </p>
                            <div class="block content">
                                <ul>
                                    {% for tree in status_change_data.trees %}
                                        <li>
                                            <b>{{ tree.tree }}</b>
                                            from <span class="{{ tree.last_state.status | treestatus_to_status_badge_class }}">{{ tree.last_state.status }}</span>
                                            to <span class="{{ tree.last_state.current_status | treestatus_to_status_badge_class }}">
                                            {{ tree.last_state.current_status }}
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="recent-changes-update-visible">
                            <p>
                                {{ status_change_form.reason.label }}: <b>{{ status_change_form.reason.value() }}</b>
                            </p>
                            <p>
                                {{ status_change_form.reason_category.label }}: <b>{{ status_change_form.reason_category.value() | reason_category_to_display }}</b>
                            </p>
                        </div>
                        <div class="recent-changes-update-hidden">
                            <div class="field">
                                <label class="label">
                                    {{ status_change_form.reason.label }}
                                </label>
                                <div class="control">
                                    {{ status_change_form.reason }}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">
                                    {{ status_change_form.reason_category.label }}
                                </label>
                                <div class="control">
                                    {{ status_change_form.reason_category }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-narrow">
                        <div class="recent-changes-update-visible">
                            <button class="button is-success is-small"
                                    type="submit"
                                    name="action"
                                    value="restore">
                                Restore
                            </button>
                            <button class="button is-info is-small recent-changes-edit" type="button">
                                Edit
                            </button>
                            <button class="button is-danger is-small"
                                    type="submit"
                                    name="action"
                                    value="discard">
                                Discard
                            </button>
                        </div>
                        <div class="recent-changes-update-hidden">
                            <button class="button delete is-normal recent-changes-edit" type="button">
                            </button>
                            <button class="button is-info is-small"
                                    type="submit"
                                    name="action"
                                    value="update">
                                Update
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endfor %}
</div>
</br>
{% endif %}
