{% extends "partials/layout.html" %}
{% block page_title %}
    {% if assessment %}
        Uplift Assessment #{{ assessment.id }}
    {% else %}
        Uplift Assessment for Bug {{ bug_id }}
    {% endif %}
{% endblock %}
{% block main %}
    <section class="section">
        <div class="container">
            <div class="content">
                <h1 class="title">
                    {% if assessment %}
                        Link Uplift Assessment #{{ assessment.id }}
                    {% else %}
                        Uplift Assessment for
                        <a href="{{ bug_id|bug_url }}" target="_blank">Bug {{ bug_id }}</a>
                    {% endif %}
                </h1>
                {% if not user_has_phabricator_token %}
                    {% include "stack/partials/uplift-phab-api-key-warning.html" %}
                {% endif %}
                <p>
                    <strong>This assessment will be linked to the following revision(s):</strong>
                </p>
                <ul>
                    {% for rev_id in revision_ids %}
                        <li>
                            <a href="/D{{ rev_id }}/" target="_blank">D{{ rev_id }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {% if bug_assessments and not assessment %}
                    <article class="message is-warning">
                        <div class="message-header">
                            <p>Bug {{ bug_id }} already has an uplift assessment</p>
                        </div>
                        <div class="message-body">
                            <p class="block">
                                Link these revisions to the existing assessment rather than
                                answering the questions again. You can still edit its answers
                                from the revision page afterwards.
                            </p>
                            {% for bug_assessment in bug_assessments %}
                                <div class="box">
                                    <p>
                                        <strong>Assessment #{{ bug_assessment.id }}</strong>
                                        <span class="has-text-grey is-size-7">
                                            by {{ bug_assessment.user.email }}
                                            {% set linked = bug_assessment.revisions.all() %}
                                            {% if linked %}
                                                &mdash; linked to
                                                {% for uplift_revision in linked %}D{{ uplift_revision.revision_id }}{% if not loop.last %}, {% endif %}{% endfor %}
                                            {% endif %}
                                        </span>
                                    </p>
                                    <p class="is-size-7">{{ bug_assessment.user_impact }}</p>
                                    <form action="{{ url('uplift-request-link-page') }}" method="post">
                                        {{ csrf_input }}
                                        <input type="hidden" name="revision_ids" value="{{ revisions_param }}">
                                        <input type="hidden" name="assessment" value="{{ bug_assessment.id }}">
                                        <button class="button is-small is-primary"
                                                {% if not user_has_phabricator_token %}disabled{% endif %}>
                                            <span class="icon is-small">
                                                <i class="fa fa-link" aria-hidden="true"></i>
                                            </span>
                                            <span>Link assessment #{{ bug_assessment.id }}</span>
                                        </button>
                                    </form>
                                </div>
                            {% endfor %}
                        </div>
                    </article>
                    <p class="block">
                        <strong>Or write a new assessment for these revisions:</strong>
                    </p>
                {% endif %}
                {% if existing_linked_revision_ids %}
                    <p>
                        <strong>This assessment is already linked to the following revision(s):</strong>
                    </p>
                    <ul>
                        {% for rev_id in existing_linked_revision_ids %}
                            <li>
                                <a href="/D{{ rev_id }}/" target="_blank">D{{ rev_id }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <form method="post" action="">
                    {{ csrf_input }}
                    {# Hidden fields. #}
                    {{ form.assessment }}
                    {{ form.revision_ids }}
                    <fieldset {% if not user_has_phabricator_token %}disabled{% endif %}>
                        {% with assessment_form = form %}
                            {% include "stack/partials/uplift-assessment.html" %}
                        {% endwith %}
                        <div class="field is-grouped">
                            <div class="control">
                                <button type="submit" class="button is-primary">
                                    {% if assessment %}
                                        Save and link revisions
                                    {% else %}
                                        Create Assessment
                                    {% endif %}
                                </button>
                            </div>
                            <div class="control">
                                <a href="/" class="button is-light">Cancel</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
