{# Reusable component for rendering job error breakdown with merge conflicts.

Expected variables:
- job: The job object with an error_breakdown field.
#}
{% if job.error_breakdown %}
{% set tree = job.target_repo.short_name|default("Repo " + job.target_repo.name) %}
{% set rejects_paths = job.error_breakdown.rejects_paths %}
<p>While applying <a href="{{ job.error_breakdown.revision_id|revision_url() }}">revision D{{
  job.error_breakdown.revision_id }}</a> to <code>{{ tree }}</code>, the following files had
  conflicts:</p>
<p>(Hint: try rebasing your changes on the latest commits from <code>{{ tree }}</code> and re-submitting.)</p>
<div class="content">
  <ul>
    {% for path in job.error_breakdown.failed_paths if path.path in rejects_paths %}
    <li><strong>{{ path.path }}</strong> @ <a href="{{ path.url }}">{{ path.changeset_id }}</a></li>
    {% if "content" not in rejects_paths[path.path] %}
    <p>Error parsing error for {{ path.path }}. See Raw error output below.</p>
    {% else %}
    {% set reject_lines = rejects_paths[path.path].content.split("\n") %}
    {% if reject_lines.__len__() < 3 %} <pre>{{ "\n".join(reject_lines) }}</pre>
      {% else %}
      <div>
        <pre class="snippet">{{ "\n".join(reject_lines[:2]) + "\n...\n" }}<button
            class="is-small is-light button toggle-content">expand diff</button></pre>
        <pre class="hidden-content">{{ "\n".join(reject_lines) }}<button
            class="is-small is-light button toggle-content">collapse diff</button></pre>
      </div>
      {% endif %}
      {% endif %}
      {% endfor %}
      </ul>
</div>
{% endif %}
