{% if false %}
    <!--
  This template can be used in multiple contexts:

  * In `timeline` pages: multiple jobs may be present, with shared info presented at the stack level.
  * In Landing `job` pages: a single job, with no info anywhere else.
  * On the `home` page: multiple jobs, but with no shared info.

  Feature matrix:

           Stack/Pull link | Job link | Tip title | Treestatus link
  timeline                 |    X     |           |           X
       job           X     |          |    X      |           X
      home           X     |    X     |    X      |

  Stacks and PR views use the `timeline` context via the timeline partial.
  Defaults to `home`, which shows most information.
-->
{% endif %}
{% set page_context = page_context|default("home") %}
{% set has_revisions = job.revisions and job.revisions.exists() %}
{% if has_revisions %}
    {% set tip_revision = job.revisions|last %}
{% endif %}
<div class="StackPage-timeline-item">
    <div class="StackPage-timeline-itemStatus">
        <span class="{{ job|tostatusbadgeclass }}">{{ job|tostatusbadgename }}</span>
    </div>
    <div class="StackPage-timeline-itemDetail">
        {% if has_revisions and page_context != "timeline" %}
            <h3>{{ tip_revision }}</h3>
        {% endif %}
        <p>
            Landing requested on <time data-timestamp="{{ job.created_at }}">{{ job.created_at }}</time>, by {{ job.requester_email }}.
        </p>
        {% if page_context != "job" %}
            <p>
                <strong>Landing Job:</strong>
                <a href="{{ url('jobs-page', args=[job.id]) }}">{{ job.id }}</a>
            </p>
        {% endif %}
        <p>
            <strong>Target repository:</strong>
            <code>{{ job.target_repo.name }}</code>
        </p>
        {% if has_revisions %}
            {% if job.has_phabricator_revisions %}
                {% if page_context != "timeline" %}
                    <p>
                        <strong>Stack:</strong>
                        <a href="{{ url('revisions-page', args=[tip_revision.revision_id]) }}">D{{ tip_revision.revision_id }}</a>
                    </p>
                {% endif %}
                <p>
                    <strong>Revisions:</strong>
                    {% for revision in job.revisions -%}
                        {{- "" if loop.first else " ← " -}}
                        <a id="r{{ revision.id }}" href="{{ revision.url }}">{{ revision.descriptor }}</a>
                    {%- endfor %}
                </p>
            {%- elif job.is_pull_request_job %}
                {% if page_context != "timeline" %}
                    <p>
                        <strong>Pull request:</strong>
                        <a href="{{ url('pull-request', args=[job.target_repo.name, tip_revision.pull_number]) }}">{{ job.target_repo.name }}#{{ tip_revision.pull_number }}</a>
                    </p>
                {% endif %}
                <strong>GitHub:</strong>
                {% for revision in job.revisions -%}
                    {{- "" if loop.first else " ← " -}}
                    <a id="r{{ revision.id }}" href="{{ revision.url }}">{{ revision }}</a>
                {%- endfor %}
            {%- else %}
                <strong>Revisions:</strong>
                {% for revision in job.revisions -%}
                    {{- "" if loop.first else " ← " -}}
                    <a id="r{{ revision.id }}" href="{{ revision.url }}">{{ revision }}</a>
                {%- endfor %}
            {%- endif %}
        {% endif %}
        {% include "partials/error-breakdown.html" %}
        <div>
            {% if job.duration|default(None) %}
                <p>
                    <strong>Duration:</strong> {{ job.duration }}s
                </p>
            {% endif %}
            <p>
                <strong>Last update:</strong> <time data-timestamp="{{ job.updated_at }}">{{ job.updated_at }}</time>
            </p>
            {% if job.status.lower() == 'landed' and job.landed_commit_id %}
                <p>
                    <strong>Result:</strong> {{ job.landed_commit_id|escape_html|linkify_transplant_details(job) |safe }} on {{ job.target_repo }}
                </p>
                <p>
                    <strong>Links:</strong>
                    {% if job.target_repo.treeherder_name %}
                        {{ treeherder_link(job.landed_treeherder_revision, job.target_repo, "Treeherder") |safe }}
                    {% endif %}
                </p>
            {%- elif job.status.lower() == 'submitted' and treestatus and page_context=="job" %}
                <div>
                    <p>
                        <strong><a href="https://firefox-source-docs.mozilla.org/testing/automated-testing/tree-closure.html"
   target="_blank">Treestatus</a> for <code>{{ treestatus.tree }}</code>:</strong>
                        <span class="{{ treestatus.status|treestatus_to_status_badge_class }}">{{ treestatus.status }}</span>
                        {% if treestatus.reason %}({{ treestatus.reason }}){% endif %}
                    </p>
                </div>
            {%- elif job.error %}
                <div class="StackPage-timeline-item-error">
                    {% if job.error_breakdown %}
                        <div>
                            <button type="button" class="is-light button toggle-content">Show raw error output</button>
                        </div>
                        <div class="hidden-content">
                            <strong>Raw error output:</strong>
                            <pre>{{ "\n" + job.error}}</pre>
                        </div>
                    {% else %}
                        <div>
                            <strong>Raw error output:</strong>
                            <pre>{{ "\n" + job.error}}</pre>
                        </div>
                    {% endif %}
                </div>
            {%- endif %}
            {% if job.status in ("SUBMITTED", "DEFERRED") %}
                <button data-landing_job_id="{{ job.id }}"
                        class="cancel-landing-job button is-small is-danger has-text-white"
                        data-csrf-token="{{ csrf_token }}">Cancel landing request</button>
            {% endif %}
        </div>
    </div>
</div>
