{% if request %}
    {% set user_is_authenticated = request.user.is_authenticated %}
    {% set user_has_phabricator_token = request.user.profile and request.user.profile.phabricator_api_key %}
{% else %}
    {% set user_is_authenticated = False %}
    {% set user_has_phabricator_token = False %}
    {% set request = None %}
{% endif %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <title>{% block page_title %}{% endblock %}</title>
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <link rel="shortcut icon" href="{{ static_url }}assets/images/logo/bird_64.png">
  <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">

  {% compress css file vendor %}
      <link type="text/css" href="{{ static_url }}legacy/vendor/font-awesome.min.css" rel="stylesheet" media="screen">
  {% endcompress %}
  {% compress css file main %}
      <link type="text/x-scss" href="{{ static_url }}legacy/css/lando.scss" rel="stylesheet" media="screen">
      <link type="text/x-scss" href="{{ static_url }}legacy/css/colors.scss" rel="stylesheet" media="screen">

      <link type="text/x-scss" href="{{ static_url }}legacy/css/components/Navbar.scss" rel="stylesheet" media="screen">
      <link type="text/x-scss" href="{{ static_url }}legacy/css/components/Badge.scss" rel="stylesheet" media="screen">
      <link type="text/x-scss" href="{{ static_url }}legacy/css/components/FlashMessages.scss" rel="stylesheet" media="screen">
      <link type="text/x-scss" href="{{ static_url }}legacy/css/components/Footer.scss" rel="stylesheet" media="screen">

      <link type="text/x-scss" href="{{ static_url }}legacy/css/pages/StackPage.scss" rel="stylesheet" media="screen">
      <link type="text/x-scss" href="{{ static_url }}legacy/css/pages/RevisionPage.scss" rel="stylesheet" media="screen">
  {% endcompress %}

  {% compress js file vendor %}
      <script src="{{ static_url }}legacy/vendor/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
  {% endcompress %}
  {% compress js file main %}
      <script src="{{ static_url }}legacy/js/main.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ static_url }}legacy/js/utils/formatTime.js" type="text/javascript" charset="utf-8"></script>

      <script src="{{ static_url }}legacy/js/components/LandingPreview.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ static_url }}legacy/js/components/Navbar.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ static_url }}legacy/js/components/Timeline.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ static_url }}legacy/js/components/FlashMessages.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ static_url }}legacy/js/components/RequestSubmitted.js" type="text/javascript" charset="utf-8"></script>
  {% endcompress %}
</head>
<body>
{% include "partials/navbar.html" %}
<section class="hero is-light is-bold">
  <div class="container">
    <div class="subtitle"></div>
  </div>
</section>
{% include "partials/notifications.html" %}
{% block main %}{% endblock %}
{% include "partials/footer.html" %}

</body>
</html>
