@import "../colors";

.recent-changes-update-hidden {
    // Hide the hidden elements in the recent changes view.
    display: none;
}

.log-update-hidden {
    // Hide the hidden elements in the log update view.
    display: none;
}

.select-trees-box {
    // Remove the spaces between tree boxes.
    margin-bottom: 0rem !important;
}

.tree-category-header {
    // Add some padding category header elements.
    padding-top: 1rem;
}
