<div class="StackPage-timeline">
    {% if landing_jobs %}
    {%- for landing_job in landing_jobs|sort(attribute='updated_at', reverse=True) %}
    <div class="StackPage-timeline-item">
        <div class="StackPage-timeline-itemStatus">
            <span class="{{ landing_job|tostatusbadgeclass }}">{{landing_job|tostatusbadgename}}</span>
        </div>

        <div class="StackPage-timeline-itemDetail">
            <p>Landing requested on <time data-timestamp="{{ landing_job.created_at }}"></time>, by {{ landing_job.requester_email }}.</p>
            <p><strong>Revisions:</strong>
            {% for i in landing_job.serialized_landing_path %}{{
            "" if loop.first else " ← "
            }}<a href="{{ i['revision_id']|revision_url(diff_id=i['diff_id']) }}">
                {{ i['revision_id'] }} diff {{ i['diff_id'] }}
            </a>{% endfor %}
            </p>
            {% if landing_job.error_breakdown %}
            {% set rejects_paths = landing_job.error_breakdown.rejects_paths %}
            <p>While applying <a href="{{ landing_job.error_breakdown.revision_id|revision_url() }}">revision D{{ landing_job.error_breakdown.revision_id }}</a> to {{ landing_job.tree }}, the following files had conflicts:</p>
            <p>(Hint: try rebasing your changes on the latest commits from {{ landing_job.tree }} and re-submitting.)</p>
            <div class="content">
                <ul>
                    {% for path in landing_job.error_breakdown.failed_paths if path.path in rejects_paths %}
                        <li><strong>{{ path.path }}</strong> @ <a href="{{ path.url }}">{{ path.changeset_id }}</a></li>
                        {% set reject_lines = rejects_paths[path.path].content.split("\n") %}
                        {% if reject_lines.__len__() < 3 %}
                            <pre>{{ "\n".join(reject_lines) }}</pre>
                        {% else %}
                            <div>
                                <pre class="snippet">{{ "\n".join(reject_lines[:2]) + "\n...\n" }}<button class="is-small is-light button toggle-content">expand diff</button></pre>
                                <pre class="hidden-content">{{ "\n".join(reject_lines) }}<button class="is-small is-light button toggle-content">collapse diff</button></pre>
                            </div>
                        {% endif %}
                    {% endfor %}
                </ul?>
            </div>
            {% endif %}
            <div>
                {% if landing_job.status.lower() == 'landed' %}
                <strong>Result:</strong> {{ landing_job.legacy_details|escape_html|linkify_transplant_details(landing_job)|safe }}
                {% elif landing_job.legacy_details %}
                    <div class="StackPage-timeline-item-error">
                    {% if landing_job.error_breakdown %}
                        <div><button type="button" class="is-light button toggle-content">Show raw error output</button></div>
                        <pre class="hidden-content"><strong>Raw error output:</strong>{{ "\n" +  landing_job.legacy_details }}</pre>
                    {% else %}
                        <pre><strong>Raw error output:</strong>{{ "\n" +  landing_job.legacy_details }}</pre>
                    {% endif %}
                    </div>
                {% endif %}
                {% if landing_job.status in ("SUBMITTED", "DEFERRED") %}
                <button data-landing_job_id="{{ landing_job.id }}" class="cancel-landing-job button is-small is-danger" data-csrf-token="{{ csrf_token }}">Cancel landing request</button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="StackPage-timeline-item">
        <div class="StackPage-timeline-itemStatus">
            <span class="Badge">Not yet Landed</span>
        </div>
        <div class="StackPage-timeline-itemDetail">
            There has been no attempt to land revisions in this stack.
        </div>
    </div>
    {% endif %}
</div>
