<div class="uplift-request-modal modal">
  <form action="{{ url('uplift-page') }}" method="post">

  <div class="modal-background"></div>

  <div class="modal-card">
      {{ csrf_input }}

      <header class="modal-card-head">
          <p class="modal-card-title">Request uplift</p>
          <button class="uplift-request-close delete" aria-label="close" type="button"></button>
      </header>

      <section class="modal-card-body">
        {{ uplift_request_form.source_revision_id }}

        {% if not user_has_phabricator_token %}
            {% include "stack/partials/uplift-phab-api-key-warning.html" %}
        {% endif %}

        {% if uplift_stack_too_large %}
          <article class="message is-danger">
            <div class="message-header">
              <p>Uplift Stack Too Large</p>
            </div>
            <div class="message-body">
              This stack contains {{ series|length }} revisions, which exceeds the maximum allowed for web-based uplift ({{ max_uplift_stack_size }}).
              Please use the <code>moz-phab uplift</code> command-line tool instead.
            </div>
          </article>
        {% endif %}

        <p class="block">
          Select the repository you wish to uplift this revision to and complete the form below.
          Your revision will be reviewed and landed by a release manager.
        </p>

        <div class="block">
            <a class="button" target="_blank" type="button" href="https://wiki.mozilla.org/index.php?title=Release_Management/Requesting_an_Uplift">
              <span class="icon">
                <i class="fa fa-question-circle"></i>
              </span>
              <span>Uplift request documentation</span>
            </a>
        </div>

        <div class="field">
            <label class="label">Uplift repository</label>
            <div class="control">
                <div class="select">
                    {{ uplift_request_form.repository }}
                </div>
            </div>
        </div>

        {% with assessment_form = uplift_request_form %}
            {% include "stack/partials/uplift-assessment.html" %}
        {% endwith %}

      </section>

      {% set can_uplift_revision = user_is_authenticated and user_has_phabricator_token and not uplift_stack_too_large %}
      <footer class="modal-card-foot">
          <button
            class="button is-success"
            {% if not can_uplift_revision %}disabled{% endif %}
            title="{% if not can_uplift_revision %}Requesting uplift is blocked. See the error messages above for more detail.{% else %}Create Phabricator review requests for the selected patch stack to land in the specified uplift train.{% endif %}">
            Create uplift request
          </button>
      </footer>

      </form>
  </div>
