{# Render uplift related information related to this revision.

At the moment, this only includes a reference to the uplift request
assessment for the stack, but will include more details in the
future.
#}
{% from "stack/partials/uplift-assessment-picker.html" import assessment_answers, assessment_picker %}
{% macro revision_tag(rev_id, current_revision_id) %}
    {% if rev_id == current_revision_id %}
        <span class="tag is-rounded is-primary">D{{ rev_id }}</span>
    {% else %}
        <a class="tag is-rounded is-primary is-light"
           href="{{ url('revisions-page', args=[rev_id]) }}">D{{ rev_id }}</a>
    {% endif %}
{% endmacro %}
<h1>Uplifts</h1>
<div class="Uplifts">
    {# An uplift revision lists what it still needs, and how to get it, first. #}
    {% if uplift.is_uplift_revision %}
        {% include "stack/partials/uplift-readiness.html" %}
    {% endif %}
    {% if uplift.bug_id %}
        {% if uplift.bug_assessments %}
            <div class="block">
                <h2 class="is-size-5">
                    Uplift assessments for
                    <a href="{{ uplift.bug_id|bug_url }}" target="_blank">bug {{ uplift.bug_id }}</a>
                </h2>
            </div>
        {% endif %}
        <div class="block">
            {% for card in uplift.bug_assessments %}
                <div class="box">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item">
                                <div>
                                    <div class="is-size-6 has-text-weight-semibold">
                                        Assessment #{{ card.assessment.id }}
                                        {% if card.is_linked %}
                                            <span class="tag is-success is-light ml-2">Linked to this revision</span>
                                        {% endif %}
                                    </div>
                                    <p class="is-size-7 has-text-grey">
                                        <time data-timestamp="{{ card.assessment.updated_at }}">{{ card.assessment.updated_at }}</time>, by {{ card.assessment.user.email }}.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <div class="has-text-right">
                                    {% if card.requested_revision_ids %}
                                        <p class="is-size-7 has-text-grey">Requested for uplift</p>
                                        <div class="tags is-right">
                                            {% for rev_id in card.requested_revision_ids %}
                                                {{ revision_tag(rev_id, uplift.revision_id) }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <p class="is-size-7 has-text-grey">Linked revisions</p>
                                    <div class="tags is-right">
                                        {% for rev_id in card.revision_ids %}
                                            {{ revision_tag(rev_id, uplift.revision_id) }}
                                        {% else %}
                                            <span class="is-size-7 has-text-grey">None</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ assessment_answers(card.assessment) }}
                    {# Uplift jobs queued from this assessment, one per target train. #}
                    <div class="content">
                        {% for job in card.jobs %}
                            {% if not loop.first %}
                                <hr>
                            {% endif %}
                            {% include "stack/partials/uplift-job.html" %}
                        {% else %}
                            <p class="has-text-grey">No uplift jobs have been queued from this assessment yet.</p>
                        {% endfor %}
                    </div>
                    {% if uplift.new_assessment_form %}
                        <div class="field is-grouped mt-3">
                            <p class="control">
                                <button class="button is-small assessment-modal-open"
                                        data-assessment-modal="{{ card.assessment.id }}">
                                    <span class="icon is-small">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </span>
                                    <span>Edit assessment</span>
                                </button>
                            </p>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% if uplift.new_assessment_form %}
            {# One modal per assessment, each pre-filled with its own answers,
               plus one for authoring a new assessment on the bug. #}
            {% for card in uplift.bug_assessments %}
                {% with assessment_form = card.form,
                    modal_id = card.assessment.id,
                    modal_title = "Edit uplift assessment #" ~ card.assessment.id,
                    modal_action = url('uplift-assessment-edit-page', args=[uplift.revision_id, card.assessment.id]),
                    modal_submit = "Save assessment" %}
                    {% include "stack/partials/uplift-assessment-modal.html" %}
                {% endwith %}
            {% endfor %}
            {% with assessment_form = uplift.new_assessment_form,
                modal_id = "new",
                modal_title = "New uplift assessment for bug " ~ uplift.bug_id,
                modal_action = url('uplift-assessment-page', args=[uplift.revision_id]),
                modal_submit = "Create assessment" %}
                {% include "stack/partials/uplift-assessment-modal.html" %}
            {% endwith %}
        {% endif %}
    {% endif %}
</div>
