{# Renders the questions for the uplift assessment form. #}
<div class="field">
    <label class="label">{{ assessment_form.user_impact.label }}</label>
    <div class="control">{{ assessment_form.user_impact.as_widget(attrs={"class": "textarea"}) }}</div>
</div>
<div class="field">
    <label class="label">{{ assessment_form.covered_by_testing.label }}</label>
    <div class="control">
        {% for radio in assessment_form.covered_by_testing %}<label class="radio">{{ radio }}</label>{% endfor %}
    </div>
</div>
<div class="field">
    <label class="label">{{ assessment_form.fix_verified_in_nightly.label }}</label>
    <div class="control">
        {% for radio in assessment_form.fix_verified_in_nightly %}<label class="radio">{{ radio }}</label>{% endfor %}
    </div>
</div>
<div class="field">
    <label class="label">{{ assessment_form.needs_manual_qe_testing.label }}</label>
    <div class="control">
        {% for radio in assessment_form.needs_manual_qe_testing %}<label class="radio">{{ radio }}</label>{% endfor %}
    </div>
</div>
<div class="field">
    <label class="label">{{ assessment_form.qe_testing_reproduction_steps.label }}</label>
    <div class="control">{{ assessment_form.qe_testing_reproduction_steps.as_widget(attrs={"class": "textarea"}) }}</div>
</div>
<div class="field">
    <label class="label">{{ assessment_form.risk_associated_with_patch.label }}</label>
    <div class="control">
        {% for radio in assessment_form.risk_associated_with_patch %}<label class="radio">{{ radio }}</label>{% endfor %}
    </div>
</div>
<div class="field">
    <label class="label">{{ assessment_form.risk_level_explanation.label }}</label>
    <div class="control">{{ assessment_form.risk_level_explanation.as_widget(attrs={"class": "textarea"}) }}</div>
</div>
<div class="field">
    <label class="label">{{ assessment_form.string_changes.label }}</label>
    <div class="control">{{ assessment_form.string_changes.as_widget(attrs={"class": "textarea"}) }}</div>
</div>
<div class="field">
    <label class="label">{{ assessment_form.is_android_affected.label }}</label>
    <div class="control">
        {% for radio in assessment_form.is_android_affected %}<label class="radio">{{ radio }}</label>{% endfor %}
    </div>
</div>
