name: Lando Deployment

on:
  push:
    branches:
      - develop
      - staging
  release:
    types:
      - published

jobs:
  compute-tag-metadata:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      metadata: ${{ steps.metadata.outputs.value }}
    steps:
      - name: Compute tag metadata
        id: metadata
        env:
          REF_TYPE: ${{ github.ref_type }}
          REF_NAME: ${{ github.ref_name }}
        run: |
          if [[ "$REF_TYPE" == "branch" ]]; then
            echo "value=$REF_NAME" >> $GITHUB_OUTPUT
          else
            echo "value=" >> $GITHUB_OUTPUT
          fi

  deploy:
    needs: compute-tag-metadata
    permissions:
      contents: read
      id-token: write
    uses: mozilla-it/deploy-actions/.github/workflows/build-and-push.yml@1f9b33678875a335819c5aa1a68297858ba0ccf4
    with:
      image_name: 'lando'
      gar_name: 'lando-prod'
      project_id: 'moz-fx-lando-prod'
      gar_location: 'us'
      image_tag_metadata: ${{ needs.compute-tag-metadata.outputs.metadata }}
    secrets: inherit
