name: Handle Pull Request
on:
  pull_request_target:
    types: [opened, reopened]

jobs:
  close-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Add Lando link
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
          PR: ${{ github.event.pull_request.number }}
          LANDO_BASE_URL: https://lando.moz.tools
          LANDO_REPO: lando
        run: |
          gh pr comment ${{ env.PR }} --body "[View this pull request in Lando](${{ env.LANDO_BASE_URL}}/pulls/${{ env.LANDO_REPO }}/${{ env.PR }}) to land it once approved."
